        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        p {text-align:center;}
        div {text-align: center;}
        ul { display: inline-block; text-align: left; }
        ol { display: inline-block; text-align: left; }
        body {
            background-color: #94E2E8;
            padding-left:5%;
            padding-right:5%;
            padding-top:5%;
            padding-bottom:5%
        }
        * {
          font-size: 100%;
          font-family: Didot;
         }
.center {
  /** sets the default styling for elements with .center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  margin-right: 300px;
  margin-left: 300px;
  font-size: 17px;
}
ul {
  /** sets font size and makes font bold for unordered list */
  font-size: 20px;
  font-weight: bold;
}
li {
  /** sets font size and makes font bold for ordered list */
  font-size: 20px;
  font-weight: bold;
}
/** setting css for links */
a:link {
  color: #e89994;
}
a:hover {
  color: red;
}
a:visited {
  color: blueviolet;
}
