.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    margin-right: 300px;
    margin-left: 300px;
    font-size: 17px
  }
  ul { /** sets font ssize and makes font bold for unordered list */
    font-size:20px; 
    font-weight: bold
  }
  li { /** sets font ssize and makes font bold for ordered list */
    font-size:20px;
    font-weight: bold
  }